*~
*.pyc
local_conf.py
melt_test_fu
/ncargcc
/ncargex
/ncargf77
/ncargf90
/ncargfile
/ncargpath
/ncargrun
/ncargversion
/ncargworld
/ncarlogo2ps
/ncarvversion
/ncgm2cgm
/ncgmstat
/ncl
/ncl.xq.fix
/ncl_convert2nc
/ncl_filedump
/ncl_grib2nc
/nhlcc
/nhlf77
/nhlf90
/nnalg
/MakeNcl
/WriteLineFile
/WriteNameFile
/WritePlotcharData
/ezmapdemo
/jblob
/idt
/ras2ccir601
/rascat
/rasgetpal
/rasls
/rassplit
/rasstat
/rasterize
/rasview
/scrip_check_input
/tdpackdemo
/tgks0a
/tlocal
/wrapit77
/pre2ncgm
/pre2ncgm.prog
/psblack
/psplit
/pswhite
/pwritxnt
/ng4ex
/med
/gcaps
/graphc
/fontc
/findg
/fcaps
/ctrans
/ctlib
/ESMF_RegridWeightGen
/ConvertMapData
/WRAPIT
/cgm2ncgm
/ictrans
